@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100vh;

  /* space univer */
  background-color: black;
  color: #fff;
}

/* Estilização da barra de rolagem */
::-webkit-scrollbar {
  display: none;
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #2a2a2a; /* Cor de fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #504f4f; /* Cor do indicador da barra de rolagem */
  border-radius: 5px;
}
